<?xml version="1.0" encoding="UTF-8" ?>
<Configuration name="ConfigTest" status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <Console name="ConsoleDetail" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <Logger name="DebugLogger" level="debug">
            <AppenderRef ref="ConsoleDetail"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>